{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": { "ecmaVersion": 2020 },
  "env": {
    "es6": true,
    "node": true
  },
  "root": true
}
